*{
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    height: 600px;
}

.row{
    width: 220px;
    height: 20px;
    display: inline-block;
    background-color: green;
}


.brick {
    background-color: blue;
    width: 120px;
    height: 20px;
    display: inline-block;

}

.coin {
    background: url('img/coin.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
}

.empty {
    background: none;
}

.pacman {
    background: url('img/pacman.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}