*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@media screen and (min-width:1005px){
.wrapper{
    width: 100%;
    height: 1000px;
    font-family: Arial, Helvetica, sans-serif;
}
  
  .container1{
    height: 800px;
    background-image: url('img/jface.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.intro {
  width: 45%;
  background-color: #000000;
  height: 800px;
  position: absolute;
  top: 0px;
  }

  .topnav {
    width: 100%;
    padding: 5px;
  }

  .topnav ul {
    list-style-type: none;
    text-align: center;
  }

  .topnav li {
    display: inline-block;
    padding: 5%;
    color: #ffffff;
  }

   a{
    text-decoration: none;
    color: #ffffff;
  }

  .topnav a:hover{
    color: #26669C;
  }

  .text {
    height: 300px;
    padding: 10px;
    display: block;
    margin-top: 20%;
    margin-left: 10%;
  }

  .text h2 {
    color: #F6DB5C;
  }

  .text p:first-of-type {
   font-size: 6em;
   margin-bottom: 5px;
   color: #3C7399;
  }

  .text p:last-of-type {
    font-size: 1.2em;
    font-style: italic;
    color: #ffffff;
   }

   .content {
     color: black;
     padding: 8%;
   }

   .content:nth-of-type(2n) {
    background-color: #F1F0F0;
   }

   .content h1 {
    font-size: 4.2em;
    padding: 10%;
    color: #3C7399;
    text-align: center;
   }

   .content p {
     font-size: 1.5em;
     line-height: 35px;
   }
   
   .aboutMe a:hover{
     color: #3F7498;
     background-color: #ffffff;
   }

   .aboutMe a{
    width: 30%;
    padding: 20px 30px;
    margin: 50px auto;
    background-color: #3F7498;
    display: block;
    text-transform: capitalize;
    box-shadow: 2px 2px 2px black;
    text-align: center;
  }

}