@media screen and (min-width: 481px) and (max-width:1004px){
    .wrapper{
        width: 100%;
        height: 1000px;
        font-family: Arial, Helvetica, sans-serif;
        color: #ffffff;
    }
    .container1{
      width: 100%;
      height: 350px;
      background-image: url('img/jface.jpg');
      background-size: 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    .intro {
      display: block;
      width: 100%;
      background-color: #000000;
      height: 200px;
      }
  
    .topnav {
      width: 100%;
      padding: 5px;
    }
  
    .topnav ul {
      list-style-type: none;
      text-align: center;
    }
  
    .topnav li {
      display: inline-block;
      padding: 3%;
      color: #ffffff;
    }
  
     a{
      text-decoration: none;
      color: #ffffff;
    }
  
    .topnav a:hover{
      color: #26669C;
    }
  
    .text {
      padding: 10px;
      display: block;
      margin: auto;
    }
  
    .text h2 {
      color: #F6DB5C;
    }
  
    .text p:first-of-type {
     font-size: 3em;
     margin-bottom: 5px;
     color: #3C7399;
    }
  
    .text p:last-of-type {
      font-size: 1.2em;
      font-style: italic;
      color: #ffffff;
     }
  
     .content {
      color: black;
      padding: 8%;
    }
  
    .content:nth-of-type(2n) {
     background-color: #F1F0F0;
    }
  
    .content h1 {
     font-size: 3em;
     padding: 10%;
     color: #3C7399;
     text-align: center;
    }
  
    .content p {
      font-size: 1em;
      line-height: 35px;
    }
    
    .aboutMe a:hover{
      color: #3F7498;
      background-color: #ffffff;
    }
    .aboutMe a{
      width: 70%;
      padding: 20px 30px;
      margin: 30px auto;
      background-color: #3F7498;
      display: block;
      text-transform: capitalize;
      box-shadow: 2px 2px 2px black;
      text-align: center;
    }
    
    }