* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* background-image: linear-gradient(to right,#57A0D3 ,#95C8D8,#ffffff 95%); */
    background-color: #F5F7F8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    height: 100%;
}

.left, .right {
    display: inline-block;
}

.left {
    width: 65%;
}


.right {
    width: 35%;
    vertical-align: top;
}

.container {
    width: 95%;
    max-width: 970px;
    background-color: none;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header {
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    margin: auto;
    border: 1px solid black;
}

.main {
    width: 100%;
    margin: auto;
    padding: 10px;
}

.category {
    background-color:white;
    margin: 10px auto 30px auto;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}

.category>h4 {
    padding: 5px;
}

table {
    width: 100%;
}

td, th {
    padding: 5px;
    text-align: right;
    padding-bottom: 10px; 
    
}


.first{
    width: 40%;
    text-align: left;
}

.solo {
    border-top: 1px solid gray;
    padding-top: 10px;
    vertical-align: bottom;
}




